@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(17, 17, 26, 0.85);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  font-family: "Castoro Titling", cursive;
  padding: 30px;
  text-align: center;
  height: 130px;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    text-transform: lowercase;
  }
}

.grid {
  display: grid;
  height: calc(95vh - 130px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 30px;

  &__item {
    padding: 30px;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: box-shadow 1s ease;
    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
  }

  &__title {
    font-family: "Castoro Titling", cursive;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: "Caveat", cursive;
    font-size: 26px;
    margin-bottom: 16px;
  }

  &__list {
    list-style: none;
    flex-grow: 1;
  }

  &__list-element {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__check {

    opacity: 0;
    &:checked + .grid__text::after {
      display: block;
    }
  }

  &__text {
    display: block;
    margin: 0 32px 0 52px;
    position: relative;
    cursor: pointer;
    font-family: "Caveat", cursive;
    font-size: 24px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: white;
      border: 1px solid black;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -35px;
    }

    &::after {
      content: "";
      background-color: green;
      text-decoration: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -29px;
      z-index: 1;
      display: none;
    }
  }
}

.cross {
  opacity: 0.5;
}

.today {
  box-shadow: rgba(0, 195, 255, 0.1) 0px 1px 0px,
    rgba(0, 195, 255, 0.1) 0px 8px 24px, rgba(0, 195, 255, 0.1) 0px 16px 48px;

  &:hover {
    box-shadow: rgba(0, 195, 255, 0.2) 0px 1px 0px,
      rgba(0, 195, 255, 0.2) 0px 8px 24px, rgba(0, 195, 255, 0.1) 0px 16px 48px;
  }
}
