@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

$title-font: "Castoro Titling", cursive;
$task-font: "Caveat", cursive;

$button-color: coral;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(17, 17, 26, 0.85);
}

body {
  position: relative;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  font-family: $title-font;
  padding: 30px;
  text-align: center;
  height: 130px;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    text-transform: lowercase;
  }
}

.grid {
  display: grid;
  height: calc(95vh - 130px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 30px;

  &__item {
    padding: 30px;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: box-shadow 1s ease;
    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
  }

  &__title {
    font-family: $title-font;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: $task-font;
    font-size: 26px;
    margin-bottom: 16px;
  }

  &__list {
    list-style: none;
    flex-grow: 1;
  }

  &__list-element {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__check {
    opacity: 0;
    &:checked + .grid__text::after {
      display: block;
    }
  }

  &__text {
    display: block;
    margin: 0 32px 0 52px;
    position: relative;
    cursor: pointer;
    font-family: $task-font;
    font-size: 24px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: white;
      border: 1px solid black;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -35px;
    }

    &::after {
      content: "";
      background-color: green;
      text-decoration: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -29px;
      z-index: 1;
      display: none;
    }
  }
}

.cross {
  opacity: 0.5;
}

.today {
  box-shadow: rgba(0, 195, 255, 0.1) 0px 1px 0px,
    rgba(0, 195, 255, 0.1) 0px 8px 24px, rgba(0, 195, 255, 0.1) 0px 16px 48px;

  &:hover {
    box-shadow: rgba(0, 195, 255, 0.2) 0px 1px 0px,
      rgba(0, 195, 255, 0.2) 0px 8px 24px, rgba(0, 195, 255, 0.1) 0px 16px 48px;
  }
}

.button {
  position: fixed;
  right: 0;
  top: 100px;
  text-align: center;

  &__open {
    cursor: pointer;

    height: 120px;
    width: 40px;

    background-color: $button-color;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(0);
    transition: transform 0.5s ease;

    &-active {
      transform: translateX(40px);
    }
  }

  &__text {
    writing-mode: vertical-rl;
    color: white;
    font-size: 24px;
  }

  &__hide {
    cursor: pointer;
    background-image: url(../assets/images/next.png);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: calc(50% - 12px);
  }
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 200px;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px;
  transform: translateX(200px);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;

  transition: box-shadow 1s ease, transform 0.5s ease;

  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }

  &-active {
    transform: translateX(0);
  }

  &__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__time {
    cursor: default;
    font-size: 40px;
    margin-bottom: 8px;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    & * {
      cursor: pointer;
      text-transform: uppercase;
      padding: 6px 4px;
      border: none;
      background-color: $button-color;
      color: white;
      border-radius: 4px;
    }
  }
}
